# Secrets
.env
/venv
.venv
.idea
/__pycache__
test.py
__pycache__/
*.pyc
*.env
.DS_Store
/__MACOSX
/data/scrapped.sql
/data/embeddings_old.json
.vscode
data/database.db
data/nerdatabase.db
test2.py
test3.py
data/content_only.json
test2.py
