-- =================================================================
-- ՀԻՄՆԱԿԱՆ ԱՂՅՈՒՍԱԿ
-- Սա "մայր" աղյուսակն է, որին կապվելու են մյուսները։
-- =================================================================
CREATE TABLE content (
    id SERIAL PRIMARY KEY, 
    website VARCHAR, 
    title VARCHAR, 
    content TEXT, 
    url VARCHAR, 
    meta JSONB, 
    published_at VARCHAR
);
-- Այլ սյուների համար ինդեքսները պահպանվում են
CREATE INDEX ix_content_published_at ON content (published_at);
CREATE INDEX ix_content_website ON content (website);


-- =================================================================
-- ԱՂՅՈՒՍԱԿՆԵՐ, ՈՐՈՆՔ ԿԱՊՎԱԾ ԵՆ content.id-Ի ՀԵՏ
-- =================================================================

-- embeddings աղյուսակ (One-to-Many կապ)
-- Մեկ content կարող է ունենալ շատ embeddings
CREATE TABLE embeddings (
    id SERIAL PRIMARY KEY, 
    -- Սա կապն է content աղյուսակի հետ
    article_id INTEGER REFERENCES content(id) ON DELETE CASCADE, 
    website VARCHAR, 
    title VARCHAR, 
    published_at VARCHAR, 
    url VARCHAR, 
    meta JSONB, 
    chunk_content TEXT, 
    chunk_start INTEGER, 
    chunk_end INTEGER, 
    embedding BYTEA
);
-- Ինդեքս՝ կապված սյունի արագ որոնման համար
CREATE INDEX ix_embeddings_article_id ON embeddings (article_id);

-- ner_results աղյուսակ (One-to-One կապ)
-- id-ն այլևս SERIAL չէ, այն ուղղակիորեն վերցնում է content.id-ի արժեքը
CREATE TABLE ner_results (
    id INTEGER PRIMARY KEY REFERENCES content(id) ON DELETE CASCADE, 
    entities JSONB
);

-- parameters աղյուսակ (One-to-One կապ)
CREATE TABLE parameters (
    id INTEGER PRIMARY KEY REFERENCES content(id) ON DELETE CASCADE, 
    category VARCHAR, 
    aver_embedding BYTEA, 
    similarity JSONB
);

-- ranks աղյուսակ (One-to-One կապ)
CREATE TABLE ranks (
    id INTEGER PRIMARY KEY REFERENCES content(id) ON DELETE CASCADE, 
    topic_importance REAL, 
    ner_content_importance REAL, 
    frequency_importance REAL, 
    source_importance REAL, 
    total_score REAL
);

-- top աղյուսակ (One-to-One կապ)
CREATE TABLE top (
    id INTEGER PRIMARY KEY REFERENCES content(id) ON DELETE CASCADE, 
    total_score REAL, 
    ai_score REAL, 
    urgency INTEGER, 
    sentiment VARCHAR, 
    geopolitical VARCHAR, 
    final_score REAL
);

-- processed աղյուսակ (One-to-One կապ)
-- Այստեղ base_id-ն է դառնում առաջնային բանալի և կապվում content.id-ին
CREATE TABLE processed (
    base_id INTEGER PRIMARY KEY REFERENCES content(id) ON DELETE CASCADE, 
    title VARCHAR, 
    generated_content TEXT, 
    published VARCHAR, 
    title_r VARCHAR, 
    generated_content_r TEXT, 
    published_r VARCHAR
);
-- Այս ինդեքսներն արդեն օգտակար են
CREATE INDEX ix_processed_published ON processed (published);
CREATE INDEX ix_processed_published_r ON processed (published_r);


-- =================================================================
-- ENTITY-Ի ՀԵՏ ԿԱՊՎԱԾ ԱՂՅՈՒՍԱԿՆԵՐ
-- =================================================================

CREATE TABLE entity_categories (
    id SERIAL PRIMARY KEY, 
    code INTEGER,
    path VARCHAR,
    ner_category_index INTEGER,
    ner_category_opp_index INTEGER
);

CREATE TABLE entities (
    id SERIAL PRIMARY KEY, 
    entity_group VARCHAR,
    score REAL,
    word VARCHAR,
    ner_score REAL,
    -- Սա կապն է entity_categories աղյուսակի հետ
    category_id INTEGER REFERENCES entity_categories(id) ON DELETE SET NULL
);